:root {
    --toggle-color: whitesmoke;
  --bg-color-1: white;
  --bg-color-2: cadetblue;
  --bg-color-3: whitesmoke;
  --bg-color-dash: gray;
  --content: white;
  --primary-text-color: black;
  --secondary-text-color: darkslategray;
}

body.active {
    --toggle-color: black;
  --bg-color-1: #2C3333;
  --bg-color-2: #395B64;
  --bg-color-3: #1B2430;
  --bg-color-dash: #2C3333;
  --content: #1B2430;
  --primary-text-color:white;
  --secondary-text-color: white;
}

* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
  	background: var(--bg-color-3);
  	margin: 0;
}

.create-contact {
  	display: inline-block;
  	text-decoration: none;
  	background-color: #38b673;
  	font-weight: bold;
  	font-size: 14px;
  	color: #FFFFFF;
  	padding: 10px 15px;
  	margin: 15px 0;
}

.create-contact:hover {
  	background-color: darkslategray;
}
.pagination {
  	display: flex;
  	justify-content: flex-end;
}
.pagination a {
  	display: inline-block;
  	text-decoration: none;
  	background-color: #a5a7a9;
  	font-weight: bold;
  	color: #FFFFFF;
  	padding: 5px 10px;
  	margin: 15px 0 15px 5px;
}
.pagination a:hover {
  	background-color: #999b9d;
}
.table {
  	width: 100%;
  	padding-top: 30px;
  	border-collapse: collapse;
}
.table thead {
  	background-color: #ebeef1;
  	border-bottom: 1px solid #d3dae0;
}
.table thead td {
  	padding: 10px;
  	font-weight: bold;
  	color: #767779;
  	font-size: 14px;
}
.table tbody tr {
  	border-bottom: 1px solid #d3dae0;
}
.table tbody tr:nth-child(even) {
  	background-color: #fbfcfc;
}
.table tbody tr:hover {
  	background-color: darkslategray;
}
.table tbody tr:hover td {
  	color: #FFFFFF;
}
.table tbody tr:hover td:nth-child(1) {
  	color: #FFFFFF;
}
.table tbody tr td {
  	padding: 10px;
}
.table tbody tr td:nth-child(1) {
  	color: #a5a7a9;
}
.table tbody tr td.actions {
  	padding: 8px;
  	text-align: right;
}
.table tbody tr td.actions .edit, .read table tbody tr td.actions .trash {
  	display: inline-flex;
  	text-align: right;
  	text-decoration: none;
  	color: #FFFFFF;
  	padding: 10px 12px;
}
.table tbody tr td.actions .trash {
  	background-color: #b73737;
}
.table tbody tr td.actions .trash:hover {
  	background-color: #a33131;
}
.table tbody tr td.actions .edit {
  	background-color: #37afb7;
}
.table tbody tr td.actions .edit:hover {
  	background-color: #319ca3;
}
.update form {
  	padding: 15px 0;
  	display: flex;
  	flex-flow: wrap;
}
.update form label {
  	display: inline-flex;
  	width: 400px;
  	padding: 10px 0;
  	margin-right: 25px;
}
.update form input {
  	padding: 10px;
  	width: 400px;
  	margin-right: 25px;
  	margin-bottom: 15px;
  	border: 1px solid #cccccc;
}
.update form input[type="submit"] {
  	display: block;
  	background-color: #38b673;
  	border: 0;
  	font-weight: bold;
  	font-size: 14px;
  	color: #FFFFFF;
  	cursor: pointer;
  	width: 200px;
	margin-top: 15px;
}
.update form input[type="submit"]:hover {
  	background-color: #32a367;
}
.delete .yesno {
  	display: flex;
}
.delete .yesno a {
  	display: inline-block;
  	text-decoration: none;
  	background-color: #38b673;
  	font-weight: bold;
  	color: #FFFFFF;
  	padding: 10px 15px;
  	margin: 15px 10px 15px 0;
}
.delete .yesno a:hover {
  	background-color: #32a367;
}